<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница не найдена</title>
    <style>
        body {
            text-align: center;
            padding: 50px;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
        }
        h1 {
            font-size: 4rem;
            color: #e74c3c;
        }
        p {
            font-size: 1.2rem;
        }
        a {
            color: #007BFF;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Упс! Страница не найдена.</p>
    <p><a href="{% url 'products' %}">Вернуться на главную</a></p>
</body>
</html>
