{% extends 'base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
    <h1>Добро пожаловать в наш магазин!</h1>

    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image" onerror="this.onerror=null; this.src='{% static '/images/default-preview.jpg' %}'">
                {% else %}
                    <img src="/media/products/images/default.jpg" alt="{{ product.name }}" class="product-image">
                {% endif %}
                    <h2 class="product-name">{{ product.name|slice:":20" }}{% if product.name|length > 20 %}...{% endif %}</h2>
                <p class="product-price">{{ product.price|floatformat:2 }} ₽</p>
                <a href="{% url 'product_detail' product.slug %}" class="view-details">Подробнее</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

