{% extends 'base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.0/nouislider.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<form method="get" action="" class="search-form">
    <div class="search-container">
        <div class="search-row">
            <input type="text" name="q" placeholder="Поиск товаров..." value="{{ request.GET.q }}" class="search-input">
            <select name="category" class="search-select">
                <option value="">Все категории</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id|stringformat:"s" == selected_category %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="search-button">🔍 Найти</button>
        </div>
        <div class="price-filter">
            <label class="price-label">Цена:</label>
            <div id="price-range" class="price-range"></div>
            <div class="range-labels">
                <span>От: <span id="min_price_value">{{ min_price }}</span></span>
                <span>До: <span id="max_price_value">{{ max_price }}</span></span>
            </div>
            <!-- Скрытые поля для значений минимальной и максимальной цены -->
            <input type="hidden" name="min_price" value="{{ min_price }}">
            <input type="hidden" name="max_price" value="{{ max_price }}">
        </div>
    </div>
</form>

{% if page_obj %}
<div class="product-list">
    {% for product in page_obj %}
        <div class="product-card">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
            {% else %}
                <img src="/media/products/default_product_image.jpg" alt="{{ product.name }}" class="product-image">
            {% endif %}

            <h2 class="product-name">{{ product.name|slice:":18" }}{% if product.name|length > 18 %}...{% endif %}</h2>
            <p class="product-price">{{ product.price|floatformat:2 }} BYN</p>
            <a href="{% url 'product_detail' product.slug %}" class="view-details">Подробнее</a>
        </div>
    {% endfor %}
</div>

<!-- Пагинация -->
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?{{ query_params }}&page=1">«</a>
        <a href="?{{ query_params }}&page={{ page_obj.previous_page_number }}">‹</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="current">{{ num }}</span>
        {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
            <a href="?{{ query_params }}&page={{ num }}">{{ num }}</a>
        {% elif num == 1 or num == page_obj.paginator.num_pages %}
            <a href="?{{ query_params }}&page={{ num }}">{{ num }}</a>
        {% elif forloop.first or forloop.last %}
            <span class="dots">...</span>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?{{ query_params }}&page={{ page_obj.next_page_number }}">›</a>
        <a href="?{{ query_params }}&page={{ page_obj.paginator.num_pages }}">»</a>
    {% endif %}
</div>

{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.0/nouislider.min.js"></script>
<script>
    var priceSlider = document.getElementById('price-range');

    noUiSlider.create(priceSlider, {
        start: [{{ min_price }}, {{ max_price }}],
        connect: true,
        range: {
            'min': {{ price_min_limit }},
            'max': {{ price_max_limit }}
        },
        format: {
            to: function (value) {
                return Math.round(value);
            },
            from: function (value) {
                return Number(value);
            }
        }
    });

    priceSlider.noUiSlider.on('update', function(values, handle) {
        var minValue = document.getElementById('min_price_value');
        var maxValue = document.getElementById('max_price_value');

        minValue.textContent = values[0] + ' BYN';
        maxValue.textContent = values[1] + ' BYN';

        document.querySelector('input[name="min_price"]').value = values[0];
        document.querySelector('input[name="max_price"]').value = values[1];
    });
</script>

{% endblock %}