{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/order_create.css' %}">
{% endblock %}

{% block content %}
<div class="order-wrapper">
  <h1 class="order-title">Оформление заказа</h1>

  <ul class="order-list">
    {% for item in items %}
      <li>
        <span>{{ item.product.name }}</span>
        <span>{{ item.quantity }} × {{ item.product.price }} ₽</span>
      </li>
    {% endfor %}
  </ul>

  <form method="post" id="order-form" novalidate>
    {% csrf_token %}
    <div class="form-group">
      {{ form.payment_method.label_tag }}
      {{ form.payment_method }}
    </div>

    <div class="form-group">
      {{ form.pickup_point.label_tag }}
      {{ form.pickup_point }}
    </div>

    {% for item in items %}
      <input type="hidden" name="selected_items" value="{{ item.id }}">
    {% endfor %}

    <input type="hidden" name="pickup_point" id="pickup-point-input">

    <button type="submit">Подтвердить заказ</button>
  </form>

  <h3>Наши пункты выдачи:</h3>
  <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor:0899d9b405551d611a2c4e2fb48564172cfd225b73647e47218ae39101ad5011&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>

  <a href="{% url 'cart' %}" class="back-link">⬅ Вернуться в корзину</a>
</div>

<script>

</script>
{% endblock %}
