{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/order_create.css' %}">
{% endblock %}

{% block content %}
<div class="order-wrapper">
  <h1 class="order-title">Оформление заказа</h1>

  <ul class="order-list">
    {% for item in items %}
      <li>
        <span>{{ item.product.name }}</span>
        <span>{{ item.quantity }} × {{ item.product.price }} ₽</span>
      </li>
    {% endfor %}
  </ul>

  <form method="post" id="order-form" novalidate>
    {% csrf_token %}
    <div class="form-group">
      {{ form.payment_method.label_tag }}
      {{ form.payment_method }}
    </div>

    <div class="form-group">
      {{ form.pickup_point.label_tag }}
      {{ form.pickup_point }}
    </div>

    {% for item in items %}
      <input type="hidden" name="selected_items" value="{{ item.id }}">
    {% endfor %}
    <button type="submit">Подтвердить заказ</button>
  </form>

  <h3>Наши пункты выдачи:</h3>
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6a0fa98dfbe396e9ef94a2d3d1a1df39d2b34c80789c99d7deb8aa4cb46a8cc6&amp;width=774&amp;height=602&amp;lang=ru_RU&amp;scroll=true"></script>
  <a href="{% url 'cart' %}" class="back-link">⬅ Вернуться в корзину</a>
</div>

<script>
    // Скрипты для интерактивных элементов, если нужно
</script>
{% endblock %}
