{% extends 'base.html' %}
{% load static %}

{% block title %}Создание магазина{% endblock %}

{% block content %}
<div class="create-shop-container">
    <h1>Создать магазин</h1>
    <form method="POST" enctype="multipart/form-data" class="shop-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Отправить заявку</button>
    </form>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/shop_create_request.css' %}">
{% endblock %}
