/* Стили для страницы регистрации */
h1 {
    text-align: center;
    color: #007BFF; /* Синий цвет для заголовка */
}

html {
  overflow-y: scroll;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #f8f9fa; /* Светлый фон для формы */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
    color: #343a40; /* Темно-серый текст */
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

form button[type="submit"] {
    background-color: #28a745; /* Зеленая кнопка */
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

form button[type="submit"]:hover {
    background-color: #007BFF; /* Синий при наведении */
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #28a745; /* Зеленый бордер при фокусе */
    outline: none;
}

.auth-link {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
    text-align: center;      /* Центрируем текст по горизонтали */
}

.auth-link a {
    color: #007BFF;
    text-decoration: none;
}

.auth-link a:hover {
    text-decoration: underline;
}
