{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кастомная админка</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/admin_base.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="admin-base-container">
        <h1 class="admin-base-page-title">Страница администратора</h1>

        {% if request.user.is_superuser %}
        <nav class="admin-base-nav">
            <a href="/" class="admin-base-btn">Вернуться на сайт</a>
            <a href="{% url 'app_admin:dashboard' %}" class="admin-base-btn">Главная</a>
            <a href="{% url 'app_admin:shop_list' %}" class="admin-base-btn">Магазины</a>
            <a href="{% url 'app_admin:shoprequest_list' %}" class="admin-base-btn">Заявки</a>
            <a href="{% url 'app_admin:pickup_list' %}" class="admin-base-btn">Пункты самовывоза</a>
            <a href="{% url 'app_admin:product_list' %}" class="admin-base-btn">Товары</a>
            <a href="{% url 'app_admin:category_list' %}" class="admin-base-btn">Категории</a>
            <a href="{% url 'app_admin:user_list' %}" class="admin-base-btn">Пользователи</a>
            <a href="{% url 'app_admin:logout' %}" class="admin-base-btn danger">Выйти</a>
        </nav>
        {% endif %}

        <hr class="admin-base-hr">

        {% block content %}{% endblock %}
    </div>

</body>
</html>
