{% extends 'admin/base.html' %}

{% block content %}
<h2>Содержимое корзины пользователя {{ cart.user.username }}</h2>

<table class="table">
    <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Корзина пуста.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'app_admin:cart_list' %}" class="btn btn-secondary">Назад</a>
{% endblock %}