{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
<div class="custom-container">
    <h3 class="custom-title">Вход для администратора</h3>
    <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        {% for field in form %}
            <div class="custom-form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="custom-error-text">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="custom-alert-error">
                {{ form.non_field_errors|striptags }}
            </div>
        {% endif %}

        <div class="custom-button-wrapper">
            <button type="submit" class="custom-button">Войти</button>
        </div>
    </form>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/admin_login.css' %}">
{% endblock %}