{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
<div class="card shadow-sm p-4">
    <h3 class="text-xl font-semibold mb-4">Редактировать User</h3>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ user_form.username.label_tag }}
            {{ user_form.username }}
        </div>
        <div class="mb-3">
            {{ user_form.email.label_tag }}
            {{ user_form.email }}
        </div>
        <div class="mb-3">
            {{ profile_form.role.label_tag }}
            {{ profile_form.role }}
        </div>
        <div class="mb-3">
            {{ profile_form.pickup_point.label_tag }}
            {{ profile_form.pickup_point }}
        </div>

        <div class="button-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'app_admin:user_list' %}" class="btn btn-outline-secondary">Назад</a>
        </div>
    </form>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/admin_user_edit.css' %}">
{% endblock %}